@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

.products {
  height: 100vh;
  margin: 5rem 0;
  font-family: "Roboto", sans-serif;
}

.productsSidebar {
  width: 10%;
  background-color: RGBA(161, 114, 146, 0.7);
  height: 100%;
  color: white;
}

.productsSidebar h1 {
  padding-top: 40px;
}

.productsSidebar ul {
  padding-left: 20px;
  padding-top: 5px;
  list-style: none;
}

.productsSidebar li {
  cursor: pointer;
}

.productsSidebar li:hover {
  color: black;
  font-weight: bold;
  /* cursor: auto; */
}
