@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

.background{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A17292;
  height: 90vh;
}

.wrapper{
  display: flex;
  width: 960px;
  min-height: 680px;
  background-color: #ffff;
  border-radius: 20px;
  padding: 60px 45px 0 45px;
  font-family: 'Roboto', sans-serif;
}

.content{
  width: 100%;
  height: 100%;
}

.mainHeading{
  font-size: 36px;
  letter-spacing: .1em;
  text-align: right;
  padding: 13px 0;
  width: 155px;
  border-bottom: 3px solid #F39077 ;
}

.questions{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  min-height: 500px;
  margin: 60px auto;
}

.questionBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: fit-content;
  min-height: 60px;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(123, 123, 123, 0.32);
  overflow: hidden;
  cursor: pointer;
}

.qHeading{
  display: flex;
}

.icon{
  margin-right: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #F39077;
}

.question{
  font-weight:600;
  font-size: 18px;
}

.answer{
  opacity: 0;
  font-size: 12px;
  width: 70%;
  max-height: 0;
  margin: 0 auto 0 120px;
  padding-left: 12px;
  color: #7E7E7E;
  border-left: 2px solid #F39077 ;
  transition: .2s ease-out;
}

.active{
  opacity: 1;
  max-height: 300px;
  transition: .15s ease-in;
  margin: 10px auto 10px 120px;
}