
:root{
    --white: #f8f9fa;
    --orange: #F39077;
    --lightPurple: #A17292;
    --purple: #8A607D;
    --black: #131010;
}

.mainBox{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    width: 40%;
    height: 100%;
    
}

.userBox{
    background: var(--orange);
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--black);
}

.userAvatar{
    background: var(--white);
    border-radius: 50%;
    padding: 20px;
    border: 2px solid black;
    transform: scale(1.2);
    margin-top: 20px;
}

.userAvatar:hover{
    transform: scale(1.4);
    transition: transform 0.4s;
}

.bosse{
    background: none;
    padding: 0;
}

.role{
    text-decoration: underline;
}

.logo{
    margin-top: 20px;
}

.catch{
    font-size: 30px;
    font-style: italic;
    margin: 10px;
    text-decoration: underline;
}

.desc{
    text-align: center;
    width: 600px;
    font-size: 20px;
    line-height: 1.8rem;
    margin: 10px 0 30px;
}















.userAvatar{
    width: 80px;
    height: 80px;
}