@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a17292;
  height: 100vh;
}

.wrapper {
  display: flex;
  width: 1280px;
  min-height: 680px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.opacity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 680px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  padding: 20px 40px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff46;
}

.content {
  width: 600px;
  min-height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a17292a1;
  border-radius: 20px;
  margin: 40px auto 60px;
  text-align: center;
}

.iconBox {
  display: flex;
  justify-content: space-between;
  margin: 0 70px 5px;
}

.contactInfo {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  padding-top: 3px;
  color: rgba(0, 0, 0, 0.7);
}

.icon {
  width: 1.4rem;
  margin: 0 10px;
  opacity: 0.6;
}

.content label {
  text-align: left;
  display: block;
}

.content span {
  display: flex;
  justify-content: space-between;
}

.content input,
.content select,
.content textarea {
  width: 400px;
  padding: 16px 20px;
  margin: 10px 0;
  border: 1px solid #ddd;
  display: block;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: #000000b9;
}

.content input:nth-child(1),
.content input:nth-child(2) {
  width: 190px;
}

.content textarea {
  padding: 50px 20px;
}

.content button {
  background: #f39077;
  color: #fff;
  border: 0;
  padding: 12px 50px;
  width: 268px;
  height: 58px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
  transition: 0.3s;
}

.content button:hover {
  background: #eb7153;
}
