.wrapper {
  height: 80px;
  background: grey;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;

  /*   margin: 0 auto;
 */
}

.logo {
  width: 100px;
}
